body {
    background-color: navajowhite;
}
.reg {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
img {
    box-shadow: 3px 3px rgba(59, 17, 17, 0.5),
        -1em 0.7em rgba(109, 202, 167, 0.4);
    max-height: 200px;
}

.networkLogo {
    display: flex;
    justify-content: space-between;
}
